fastapi
uvicorn
sqlalchemy
pymysql
pydantic
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
python-multipart
mediapipe
opencv-python
pandas
numpy
tqdm
torch
scikit-learn
google-generativeai
pyttsx3
jinja2
mysql-connector-python
email-validator
